* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #bb4088, #f879d6);
  min-height: 100vh;
  padding: 20px;
}

.container {
  max-width: 700px;
  margin: 30px auto;
  padding: 30px;
  border-radius: 16px;

  background: 
    rgba(255, 255, 255, 0.15)
    url('images/temperature.png') no-repeat;
  background-position: right 15px top 20px;  
  background-size: 60px;

  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

h1 {
  text-align: center;
  color: #2e192c;
  margin-bottom: 10px;
}

p {
  font-size: 15px;
  color: #2e192c;
  margin-bottom: 10px;
  text-align: center;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
  color: #333;
}

input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  transition: all 0.3s ease;
}

.button-group {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-top: 10px;
}

.button-group button {
  flex: 1;
  padding: 12px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  color: #fff;
}

#btnConvert {
  background-color: #bc41a3;
}

#btnConvert:hover {
  background-color: #953281;
  transform: scale(1.05);
}

#btnReset {
  background-color: #da413f;
}

#btnReset:hover {
  background-color: #9d2f2d;
  transform: scale(1.05);
}

.result,
.how-it-works {
  margin-top: 25px;
  background-color: #f1f8e9;
  padding: 15px;
  border-left: 5px solid #333;
  border-radius: 8px;
}

.result h3,
.how-it-works h3 {
  color: #333;
  margin-bottom: 10px;
}

#outputResult,
#explanation {
  color: #444;
  line-height: 1.6;
}

footer {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
  color: #613162;
}
